body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: #151515;
  }
  
  h2 {
    position: relative;
    font-size: 5em;
    color: #c7ff6e;
    text-transform: uppercase;
    border-bottom: 10px solid #c7ff6e;
  }
  
  h2::before {
    content: attr(loading-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: #b0a8e2;
    overflow: hidden;
    border-bottom: 10px solid #b0a8e2;
    animation: loading 5s linear infinite;
  }
  
  @keyframes loading {
    0% {
      width: 0;
    }
  
    100% {
      width: 100%;
    }
  }
  